@use "common";
@use "header";
@use "main";

@media (max-width: 1400px) {
  .hero {
    background-size: cover;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: 120px 0;
  }
  .offer-item {
    flex-basis: 33%;
  }

  .subscribe {
    background-image: none;
  }
  .subscribe__content {
    max-width: 100%;
  }

  .our-shops {
    background-image: none;
  }
  .our-shops__content {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar-info__container {
    flex-direction: column;
  }
  .hero {
    padding: 80px 0;
  }
  .offer-item {
    flex-basis: 100%;
  }
  .submit__content {
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .feedback {
    flex-direction: column;
  }
  .navbar-secondary__link {
    padding: 5px;
  }
  .navbar-primary__link {
    padding: 5px;
  }
  .hero {
    background-image: none;
  }
  .hero__content {
    align-items: center;

    max-width: 100%;

    text-align: center;
  }
  .offers__title {
    text-align: center;
  }
}
