@use "../presets" as *;

.feedback {
  display: flex;
  align-items: center;

  gap: $gap-xs $gap-xl;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  &__phone {
    color: $color-black;

    font-size: 1rem;
  }
}
