@use "../presets" as *;
@use "../mixins" as *;

.feedback {
  display: flex;
  align-items: center;

  gap: $gap-xs $gap-xl;

  @include sm {
    flex-direction: column;
  }

  &__phone {
    color: $color-black;

    font-size: 1rem;
  }
}
