@use "../presets" as *;

.logo {
  &__link {
    display: flex;
    align-items: center;

    gap: $gap;
  }

  &__title {
    letter-spacing: $letter-spacing;

    color: $color-accent;

    font-size: 36px;
  }
}
