@use "../presets" as *;

.navbar-info {
  margin-bottom: 1px;
  padding: $gap 0;

  background-color: $color-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: $gap;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}
