@use "../presets" as *;
@use "../mixins" as *;

.visually-hidden {
  @include visually-hidden;
}

.container {
  @extend %container;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  min-width: 170px;
  min-height: 40px;
  padding: 0.25em 1em;

  cursor: pointer;

  border-width: 2px;
  border-style: solid;
  border-radius: 40px;

  &--primary {
    border-color: $color-accent;
    background-color: $color-white;
  }

  &--secondary {
    letter-spacing: 0.05em;

    color: $color-white;
    background-color: $color-accent;
  }

  &--sm {
    min-width: 130px;
    min-height: 35px;

    border-width: 0;
    border-radius: 30px;
  }
}
